@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
*{
    padding: 0;
	margin: 0;
	box-sizing: border-box;
    scroll-behavior: smooth;

}

:root{
    --text1_size: 16px;
    --default-color: #0088a9;
    --background-color:  rgb(24, 33, 44);
    
}

body{
    overflow-x: hidden;
    background-color: var(--background-color);

}




header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 30px 10%;
    position: sticky;
    top: 0%;
    background-color: rgb(18, 25, 32);
    z-index: 2;
    height: 90px;

}



header img{
    height: 100px;
    width: auto;
    border-radius: 50px;
}

#resume-word{
    font-size: 1fr;
    margin:0%;
    transition: all 0.3s ease 0s;
    color: #ffffff;
    font-weight:800;
    cursor: pointer;
}

#resume-word:hover{
    font-size: 5fr;
    margin:0%;
    color: #0087a9c4;
    
}

li, button, a, p{
    color: aliceblue;
    font-family: "Roboto Mono", sans-serif;
    font-weight: 500;
    font-size: var(--text1_size) ;
    text-decoration: none;
}


button{
    padding: 9px 25px;
    border: none;
    border-radius: 50px ;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    height: max-content;
    background-color: var(--default-color);

}

button:hover{
    background-color: #0087a9c4;
}



.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding : 0px 20px; 
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #0088a9;
}

/*Background Image*/

.background-image-img{
    opacity: 0.3;
    width: 100%;
    min-width: 1000px;
    min-height: 100%;
    padding: 0;
    margin: 0;
    object-fit: cover;
}

/*Section: Home*/

.Home{
    margin:1% ;
    padding:1%;
    border: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation-name: enter;
    animation-duration: 1s;
    animation-timing-function: linear;
    text-align: center;
}

.first{
    display: inline-block;
    padding: 1px;

}

.first p {
    margin: 7px;
}


.center {
    position: absolute;
    top: 8%;
    width: 100%;
    font-size: 18px;
}



#circle{
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 275px;
    height: auto;
}
#name{
    
    font-size: 50px;
    font-weight: bolder;
    margin-top: 1px; 
}

/*2nd Section*/
.overview{
    font-family: "Roboto Mono", sans-serif;
}


.two-content{
    display: flex;
}

.overview h1{
    margin: 5px;
    border: 1px solid red;
    width: fit-content;
}

.overview-content{
    border: 1px solid red;
    width: 50%;
}

.overview-content2{
    border: 1px solid red;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.overview-box h2{
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
    color: var(--default-color);
    text-align: center;
    width: fit-content;
    flex-wrap: wrap;
    font-size: 30%;;
    background-color: aliceblue;

}

.overview-box{
    border-radius: 3px;
    margin: 10px;

}





/* animation transition for overview*/
/* animation transition for overview*/
/* animation transition for overview*/
/* animation transition for overview*/
/* animation transition for overview section*/
.box-overview{

    position: relative;
    color: aliceblue;
    display:block;
    position: relative;
    margin-left:auto ;
    margin-right: auto;
    background-color: var(--default-color);
    border-radius: 3px;
    height: auto;
    width: 55vw;
    padding: 1.5em;
    min-width: 300px;  
}

.box-overview:hover, .box-overview:active{
}

/* animation transition for overview*/
/* animation transition for overview*/
/* animation transition for overview*/
/* animation transition for overview*/


/*keyframes*/
@keyframes enter{
    from{
        opacity: 0.0;
    }

    to{opacity: 1.0;
    }

}


